<h3>Create Flight</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Flight Name</label>
            <input type="text" class="form-control" id="flightName" required [(ngModel)]="flight.flightName"
                name="flightName">
        </div>

        <div class="form-group">
            <label for="name">Source</label>
            <input type="text" class="form-control" id="source" required [(ngModel)]="flight.source"
                name="source">
        </div>

        <div class="form-group">
            <label for="name">Destination</label>
            <input type="text" class="form-control" id="destination" required [(ngModel)]="flight.destination" name="destination">
        </div>

        <div class="form-group">
            <label for="name">Arrival Time</label>
            <input type="text" class="form-control" id="arrivalTime" required [(ngModel)]="flight.arrivalTime"
                name="arrivalTime">
        </div>

        <div class="form-group">
            <label for="name">Departue Time</label>
            <input type="text" class="form-control" id="departueTime" required [(ngModel)]="flight.departueTime"
                name="departueTime">
        </div>

        <div class="form-group">
            <label for="name">Arrival Date</label>
            <input type="text" class="form-control" id="arrivalDate" required [(ngModel)]="flight.arrivalDate" name="arrivalDate">
        </div>

        <div class="form-group">
            <label for="name">Departure Date</label>
            <input type="text" class="form-control" id="departureDate" required [(ngModel)]="flight.departureDate"
                name="departureDate">
        </div>

        <div class="form-group">
            <label for="name">Flight Status</label>
            <input type="text" class="form-control" id="flightStatus" required [(ngModel)]="flight.flightStatus"
                name="flightStatus">
        </div>

        <div class="form-group">
            <label for="name">Capacity</label>
            <input type="text" class="form-control" id="capacity" required [(ngModel)]="flight.capacity" name="capacity">
        </div>
        <div class="form-group">
            <label for="name">Refundable</label>
            <input type="text" class="form-control" id="refundable" required [(ngModel)]="flight.refundable"
                name="refundable">
        </div>

        <div class="form-group">
            <label for="name">Stops</label>
            <input type="text" class="form-control" id="stops" required [(ngModel)]="flight.stops"
                name="stops">
        </div>

        <div class="form-group">
            <label for="name">Rating</label>
            <input type="text" class="form-control" id="rating" required [(ngModel)]="flight.rating" name="rating">
        </div>
        <div class="form-group">
            <label for="name">Offer Id</label>
            <input type="number" class="form-control" id="offerId" required [(ngModel)]="flight.offerId"
                name="offerId">
        </div>

        <div class="form-group">
            <label for="name">Economy Seats</label>
            <input type="number" class="form-control" id="economySeats" required [(ngModel)]="flight.economySeats"
                name="economySeats">
        </div>

        <div class="form-group">
            <label for="name">Bussness Seats</label>
            <input type="number" class="form-control" id="bussnessSeats" required [(ngModel)]="flight.bussnessSeats" name="bussnessSeats">
        </div>

        <div class="form-group">
                <label for="name">Premium Seats</label>
                <input type="number" class="form-control" id="premiumSeats" required [(ngModel)]="flight.premiumSeats" name="premiumSeats">
            </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>