<h2>Flight Details</h2>

<hr />
<div *ngIf="flight">
    <div>
        <label><b>Flight ID: </b></label> {{flight.flightId}}
    </div>
    <div>
        <label><b>FlightName: </b></label> {{flight.flightName}}
    </div>
    <div>
        <label><b>Source: </b></label> {{flight.source}}
    </div>
    <div>
        <label><b>Destination: </b></label> {{flight.destination}}
    </div>
    <div>
        <label><b>Arrival Time: </b></label> {{flight.arrivalTime}}
    </div>
    <div>
        <label><b>Departue Time: </b></label> {{flight.departueTime}}
    </div>
    <div>
        <label><b>Arrival Date: </b></label> {{flight.arrivalDate}}
    </div>
    <div>
        <label><b>Departure Date: </b></label> {{flight.departureDate}}
    </div>
    <div>
        <label><b>Flight Status: </b></label> {{flight.flightStatus}}
    </div>
    <div>
        <label><b>Capacity: </b></label> {{flight.capacity}}
    </div>
    <div>
        <label><b>Refundable: </b></label> {{flight.refundable}}
    </div>
    <div>
        <label><b>Stops: </b></label> {{flight.stops}}
    </div>
    <div>
        <label><b>Rating: </b></label> {{flight.rating}}
    </div>
    <div>
        <label><b>Offer Id: </b></label> {{flight.offerId}}
    </div>
    <div>
        <label><b>Economy Seats: </b></label> {{flight.economySeats}}
    </div>
    <div>
        <label><b>Bussness Seats: </b></label> {{flight.bussnessSeats}}
    </div>
    <div>
        <label><b>Premium Seats: </b></label> {{flight.premiumSeats}}
    </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Flight List</button><br>